@model List<ExpenseCategories>

<div class="container p-3">
    <div class="row p-4">
        <div class="col-6"><h2 class="text-primary">Categories</h2></div>
        <div class="col-6 text-end">
            <a class="btn btn-primary" asp-controller="ExpenseCategories" asp-action="Create">Create New Category</a>
        </div>
    </div>
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>           
                    <th>Category Name</th>
                    <th>Changes</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td width="50%">@item.Categoryname</td>
                        <td width="50%">
                            <div class="w-100 btn btn-group" role="group">
                                <a class="btn btn-primary mx-2" asp-route-id="@item.id" asp-action="Update" asp-controller="ExpenseCategories">Update</a>
                                <a class="btn btn-danger mx-2" asp-route-id="@item.id" asp-action="Delete" asp-controller="ExpenseCategories">Delete</a>
                            </div>
                        </td>
                    </tr>
                   
                }
            </tbody>
        </table>
    }
    else
    {
        <h3 class="text-danger">No data available</h3>
    }
</div>